@font-face {
    font-family: "Brandon";
    src: url("../fonts/Brandon_light_it.otf");
}

@font-face {
    font-family: "operatorMono-light";
    src: url("../fonts/OperatorMono-LightItalic.otf");
}

@font-face {
    font-family: "operatorMono-BoldItalic";
    src: url("../fonts/OperatorMono-BoldItalic.otf");
}

@font-face {
    font-family: "BankGothic-Lt";
    src: url("../fonts/BankGothic-Lt-BT-Light.ttf");
}

@font-face {
    font-family: "BankGothic-Md";
    src: url("../fonts/BankGothic-Md-BT-Medium.ttf");
}

/* For Desktop */
@media only screen and (min-width: 992px) {

    .board {
        max-width: 40%;
        left: 50%;
        margin-left: -20%;
    }
}

@media only screen and (min-width: 768px) {
    /* a.nav-link {
        color: white !important;
    } */

    .back-white {
        background: none !important;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: operatorMono-light;
    color: black;
}

.wrapper {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-image: url("../images/dark-laptop.jpg");
    height: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

a.navbar-brand {
    letter-spacing: 2px;
    font-family: BankGothic-Lt;
    margin-left: 5px;
 }

 .white-color {
    color: white !important;
 }

 .black-color {
    color: black !important;

 }

.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    color: black;
}

.nav-link {
    color: black !important;
    font-family: operatorMono-BoldItalic;
}

.back-white {
    background-color: white;
}

.bg-white {
    box-shadow: 0px 6px 16px -2px rgba(0,0,0,0.3);
}

ul.navbar-nav li a {
    letter-spacing: 2px;
    padding: 15px 10px !important;
}
.navbar-nav li:not(.active):hover {
    background-color: #79D6F2;
    color: white !important;
}

.active {
    background-color: #79D6F2;
}


h1.head{
    margin: 0;
    padding: 0;
    text-align: 0;
    font-family: BankGothic-Lt;
    text-align: center;
    margin-top: -70px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px #ddd;

    animation-name: moveRight;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes moveRight {
    20% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
 }

.board {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -10%;
    width: 100%;
}

img.logo {
    position: relative;
    left: 50%;
    height: 200px;
    width: 200px;
    margin-left: -100px;
}

p.tagline {
    font-family: Brandon;
    text-align: center;
    font-size: 1.5em;

    animation-name: moveLeft;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes moveLeft {
    20% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}

button:hover {
    background-color: #98AFC7;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

