@font-face {
    font-family: "Brandon";
    src: url("../fonts/Brandon_light_it.otf");
}

@font-face {
    font-family: "operatorMono-light";
    src: url("../fonts/OperatorMono-LightItalic.otf");
}

@font-face {
    font-family: "siffon basic";
    src: url("../fonts/siffon_basic.otf");
}

@font-face {
    font-family: "operatorMono-BoldItalic";
    src: url("../fonts/OperatorMono-BoldItalic.otf");
}

@font-face {
    font-family: "BankGothic-Lt";
    src: url("../fonts/BankGothic-Lt-BT-Light.ttf");
}

@font-face {
    font-family: "BankGothic-Md";
    src: url("../fonts/BankGothic-Md-BT-Medium.ttf");
}

/* For Desktop */
@media only screen and (min-width: 992px) {
    .board {
        max-width: 40%;
        left: 50%;
        margin-left: -20%;
    }

    ul.navbar-nav li {
        margin: 0 20px;
    }
}
/* For normal mobile and tablets*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.wrapper {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-image: url("../images/dark-laptop.jpg");
    height: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

a.navbar-brand {
    letter-spacing: 2px;
    font-family: BankGothic-Lt;
    margin-left: 5px;
 }

 .white-color {
    color: white;
 }

.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    color: black;
}

.nav-link {
    font-family: Helvetica, sans-serif;

    position: relative;
    transition:all 0.4s;
}

.nav-link:after {
    content: "";
    background: #fff;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    transition: all .4s;
}

.nav-link:focus::after {
	width: 100%;
    height: 100%;
    opacity:0;
}

.bg-white {
    box-shadow: 0px 6px 16px -2px rgba(0,0,0,0.3);
}

ul.navbar-nav li a {
    letter-spacing: 2px;
    text-align: center;
    padding: 15px 10px;
}
.navbar-nav li:not(.active):hover {
    background-color: #1A1A1D;
}

.active {
    color: #79D6F2;
}


h1.head{
    margin: 0;
    padding: 0;
    font-family: BankGothic-Lt;
    text-align: center;
    margin-top: -70px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px #ddd;

    animation: moveRight 1s ease-out .75s;
    animation-fill-mode: backwards;
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
 }

.board {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -10%;
    width: 100%;
}

img.logo {
    position: relative;
    left: 50%;
    height: 200px;
    width: 200px;
    margin-left: -100px;
}

p.tagline {
    font-family: Brandon;
    text-align: center;
    animation: moveLeft 1s ease-out .75s;
    animation-fill-mode: backwards;

}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}

button:hover {
    background-color: #98AFC7;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#home, #service, #contact {
    height: 85vh;
}

#home {
    background-color: #292929;
    color: white;
    padding: 30px;
}

.header-text {
    text-align: center;
    font-family: siffon basic;
    padding-top: 30px;
    text-transform: uppercase;
}

.main {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: none;
    text-align: left;
    padding: 20px 150px;
}

footer {
    height: 25vh;
}

.shadow {
    color :rgb(160,160,160);
    width: 30%;
    font-size: 2em;
    padding: 20px 40px;
    text-align: center;
    position: relative;
    display: block;
    left: 50%;
    margin-left: -15%;
}

